<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>32bit PETITION</title>
    </head>
    <body>
        <h1>
            Sign our petition and join the fight! ⚔️
            <br />
            Bring back 32-bit support on MacOS! 💻
        </h1>
        <h3>When Apple decided to drop support for 32-bit apps with their 10.15
            operating system in september 2019, many 32-bit games were rendered
            unplayable.
            <br />
            Here is an incomplete list of discontinued titles:</h3>
        <h6>
            <br />
            ................
            {{! <ul id="list">
                <li>BattleBlock Theater</li>
                <li>Battlestations: Midway</li>
                <li>Battlestations: Pacific</li>
                <li>Bioshock Infinite</li>
                <li>Borderlands: The Pre-Sequel</li>
                <li>Bugdom 2</li>
                <li>Call of Duty</li>
                <li>Call of Duty 2</li>
                <li>Call of Duty 4</li>
                <li>Call of Duty: Black Ops</li>
                <li>Call of Duty: Modern Warfare 2</li>
                <li>Call of Duty: Modern Warfare 3</li>
                <li>Castle of Illusion Starring Mickey Mouse</li>
                <li>Civilization 4</li>
                <li>Civilization 4: Colonization</li>
                <li>DiRT 3</li>
                <li>Doom 3</li>
                <li>Drox Operative</li>
                <li>Duke Nukem Forever</li>
                <li>Fahrenheit</li>
                <li>Geometry Wars 3</li>
                <li>GRID 2</li>
                <li>Halo: Combat Evolved</li>
                <li>Homeworld Remastered Collection</li>
                <li>LEGO Batman</li>
                <li>LEGO Batman 2: DC Super Heroes</li>
                <li>LEGO Batman 3: Beyond Gotham</li>
                <li>LEGO Harry Potter: Years 5-7</li>
                <li>LEGO Indiana Jones 2</li>
                <li>LEGO Star Wars III: Clone Wars</li>
                <li>Mini Ninjas</li>
                <li>Nanosaur 2: Hatchling</li>
                <li>Otto Matic</li>
                <li>Prey</li>
                <li>Quake 4</li>
                <li>RAGE</li>
                <li>Rayman Origins</li>
                <li>Secret of Monkey Island: Special Edition</li>
                <li>SEGA Superstars Tennis</li>
                <li>Sid Meier's Pirates!</li>
                <li>Sonic & SEGA All-Stars Racing</li>
                <li>Star Wars: Empire at War</li>
                <li>Star Wars: Jedi Academy</li>
                <li>Star Wars: Jedi Outcast</li>
                <li>Star Wars: The Force Unleashed</li>
                <li>The LEGO Movie Videogame</li>
                <li>The Sims 2: Castaway Stories</li>
                <li>The Sims 2: Life Stories</li>
                <li>The Sims 2: Pet Stories</li>
                <li>Tomb Raider 2</li>
                <li>Tomb Raider: Anniversary</li>
                <li>Tomb Raider: Underworld</li>
                <li>XCOM: Enemy Unknown</li>
                <li>Age of empires 3</li>
                <li>Age of Mythology</li>
                <li>Age of Wonders 3</li>
                <li>All Big Fish Games</li>
                <li>Amnesia: A Machine for Pigs</li>
                <li>Amnesia: The Dark Descent</li>
                <li>Anna - Extended Edition</li>
                <li>Anna's Quest</li>
                <li>Anomaly 2</li>
                <li>ARK: Survival Evolved</li>
                <li>Assassin's Creed 2</li>
                <li>Back to the Future</li>
                <li>Ballistic Overload</li>
                <li>Bejeweled 3</li>
                <li>Brawlhalla</li>
                <li>Broken Age</li>
                <li>Broken Sword: Director's Cut</li>
                <li>Cave Story</li>
                <li>Chaos Reborn</li>
                <li>Counter-Strike: Source</li>
                <li>CSR Racing</li>
                <li>Dead Island</li>
                <li>Deus Ex: Human Revolution</li>
                <li>Diablo 2</li>
                <li>DiRT Showdown</li>
                <li>Distance</li>
                <li>Don't Starve Together</li>
                <li>Dungeons and Dragons Online</li>
                <li>Empire: Total War</li>
                <li>Escape Velocity: Nova</li>
                <li>Europa Universalis 4</li>
                <li>FlatOut 2</li>
                <li>Grand Theft Auto: San Andreas</li>
                <li>Grim Fandango Remastered</li>
                <li>GTA San Andreas</li>
                <li>Gunpoint</li>
                <li>Guts and Glory</li>
                <li>Half-Life</li>
                <li>Half-Life 2</li>
                <li>Hearts of Iron 4</li>
                <li>Heroes of Might and Magic V</li>
                <li>Hyper Light Drifter</li>
                <li>Invisible, Inc.</li>
                <li>Killing Floor</li>
                <li>Kingdom: Classic</li>
                <li>Left 4 Dead</li>
                <li>Left 4 Dead 2</li>
                <li>Lord of the Rings Online</li>
                <li>Mafia 2</li>
                <li>Max Payne 3</li>
                <li>Monaco: What's Yours Is Mine</li>
                <li>Myth 2</li>
                <li>Never Alone</li>
                <li>Neverwinter Nights: Enhanced</li>
                <li>Papers, Please</li>
                <li>Pillars of Eternity</li>
                <li>Portal</li>
                <li>Portal 2</li>
                <li>Psychonauts</li>
                <li>Punch Club</li>
                <li>RC Mini Racers</li>
                <li>Robin Hood: Legend of Sherwood Forest</li>
                <li>Serious Sam 3: BFE</li>
                <li>Shadow Warrior</li>
                <li>ShadowFight 2</li>
                <li>Shadowrun Returns</li>
                <li>Shelter 2</li>
                <li>Spec Ops: The Line</li>
                <li>Starcraft</li>
                <li>Stick Fight</li>
                <li>Stronghold Classic</li>
                <li>Tales of Monkey Island</li>
                <li>Team Fortress 2</li>
                <li>The Bard's Tale</li>
                <li>The Binding of Issac</li>
                <li>The Book of Unwritten Tales</li>
                <li>The Darkness II</li>
                <li>The Stanley Parable</li>
                <li>The Walking Dead</li>
                <li>The Witcher</li>
                <li>The Witcher 2</li>
                <li>Torchlight</li>
                <li>Trine</li>
                <li>Trine 2</li>
                <li>Tropico 5</li>
                <li>Unreal Tournament 2004</li>
                <li>Warcraft 3</li>
                <li>Xenonauts</li>
            </ul> }}
        </h6>
        <h4>"WTF?! I can't play "Robin Hood: The Legend of Sherwood" 20 years
            after initial release? Seize this madness at once!"
            <br />
            - concerned gamer</h4>
        <main>
            <div id="form">
                <form method="post">
                    {{! 
                    <input
                        class="form-style"
                        type="text"
                        id="fname"
                        name="fname"
                        placeholder="first name"
                    /><br />

                    <input
                        class="form-style"
                        type="text"
                        id="lname"
                        name="lname"
                        placeholder="last name"
                    /><br /> }}

                    <canvas
                        class="form-style"
                        id="canvas"
                        width="200"
                        height="40"
                    ></canvas>
                    <input type="hidden" id="canvasimg" name="signature" />
                    <br />

                    <button
                        class="form-style"
                        id="submit"
                        type="submit"
                    >abschicken</button>

                    <button id="clear_canvas">clear</button>

                </form>
            </div>
        </main>
    </body>
</html>