<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>32bit PETITION</title>
    </head>
    <body>
        <h1>
            Sign our petition and join the fight! ⚔️
            <br />
            Bring back 32-bit support on MacOS! 💻
        </h1>
        <h3>When Apple decided to drop support for 32-bit apps with their 10.15
            operating system in september 2019, many 32-bit games were rendered
            unplayable. <br>
        <h4>"WTF?! I can't play "Robin Hood: The Legend of Sherwood" 20 years
            after initial release? Seize this madness at once!"
            <br />
            - concerned gamer</h4>
        <main>
            <div id="form">
                <form method="post">
                    <canvas
                        class="form-style"
                        id="canvas"
                        width="200"
                        height="60"
                    ></canvas>
                    <input type="hidden" id="canvasimg" name="signature" />
                    <br />

                    <button
                        class="form-style"
                        id="submit"
                        type="submit"
                    >abschicken</button>

                    <button id="clear_canvas">clear</button>

                </form>
            </div>
        </main>
    </body>
</html>