<div class="form_container">
    <form name="profile" method="POST">
        <div class="form_title">
            <h2>please tell us some more about yourself</h2>
            <span class="form_bar"></span>
        </div>
        <div class="cont_text_inputs">
            <input
                class="input_field"
                type="text"
                name="age"
                placeholder="AGE"
            />
            <input
                class="input_field"
                type="text"
                name="city"
                placeholder="CITY"
            />
            <input
                class="input_field"
                type="text"
                name="url"
                placeholder="HOMEPAGE"
            />
            <button
                class="form_btn"
                type="submit"
                value="submit"
                name="submit"
            >CONTINUE</button>

        </div>
    </form>
</div>
{{! <form name="skip" method="POST">
    <button
        name="submit"
        type="submit"
        value="skip"
        class="btn_delete link_form edit"
    >SKIP ▶</button>
</form> }}