<h1>Register</h1>

<form name="register" method="POST" action="/register">
    <input type="text" name="fname" placeholder="first Name" />
    <input type="text" name="lname" placeholder="last Name" />
    <input type="email" name="email" placeholder="email" />
    <input type="password" name="password" placeholder="password" />
    <text style="color:rgb(255, 255, 255)"></text>
    <br />
    <button type="submit" value="submit" name="submit">register</button>
</form>
<p>already with us? <a href="/login">log in</a> then, already!</p>