<div id="thanksMessage">

    <h4 id="title">
        Thank you!
    </h4>

    <img src="{{signature}}" alt="" />

    <h3>see all
        <a href="/signers">{{signersCount}}</a>
        supporters
    </h3>
</div>